{{ define "base" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/css/style.css">
      <title>{{ template "title" . }}</title>
    </head>
    <body>
      <header>
        <div>NOTESSS</div>
        <nav>
          <a href="/">Home</a>
          <a href="/note/view?id=1">Note View</a>
          <a href="/note/create">Create Note</a>
        </nav>
      </header>
      <main>
        {{ template "content" . }}
      </main>
      <footer>
        &copy; 2026 by creative code
      </footer>
    </body>
  </html>
{{ end }}